@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Star Wars The Rise Of Skywalker</h1>
@*<ul id="listSW">
    li
</ul>*@

<table class="table table-hover">
    <thead class="alert-warning">
        <tr>
            <td>Name</td>
            <td>Eye Color</td>
            <td>Skin Color</td>
            <td>Height</td>
            <td>Gender</td>
        </tr>
    </thead>
    <tbody class="tableSW">
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>