@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutBelajar";

}

<h1 id="judul">Tugas</h1>
<div id="container">
    <section id="a">
        <p class="p1">Paragraf 1</p>
        <p class="p2">Paragraf 2</p>
        <a href="#">Ini Sebuah Link</a>
        <ul>
            <li id="a">List 1</li>
            <li id="a">List 2</li>
            <li id="a">List 3</li>
        </ul>
    </section>
    <section id="b">
        <p id="a">Paragraf 5</p>
        <div>
            <p>Ini Paragraf</p>
        </div>
        <ul>
            <li>List 1</li>
            <li>List 2</li>
            <li>List 3</li>
            <li>List 4</li>
            <li>List 5</li>
        </ul>
    </section>

</div>