@{  ViewData["Title"] = "Home Page";
    Layout = "_LayoutGridSystem"; 
}
<header>
    <nav class="navbar border-bottom fixed-top py-2 bg-light">
        <div class="container-fluid">
           Navigation Bar
        </div>
    </nav>
</header>
@*<nav class="navbar border-bottom sticky-top bg-light">
    <div class="container-fluid">
        <h2>Belajar Bootsrap</h2>
    </div>
</nav>*@
<div class="container p-5 ">
    <h1>    Grid System   </h1>
    <div class="row">
        <div class="col-md-5 border">
            <p>
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus
                nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.     
               
            </p>
        </div>
        <div class="col-md-7">
            <div class="row col-md-12 border">
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>
            </div>
            <div class="row col-md-12 border">
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>

                <p>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>
            </div>

        </div>
    </div>
</div>

<footer class="footer border-top fixed-bottom py-2 bg-light text-center">
    <div class="container">
        aliffia
    </div>
</footer>